@charset "utf-8";
body {
  background:url(./images/bgi.jpg) no-repeat 50% / cover ;
  width: 100%;
  height: 100vh;
}
.container {
  width: 950px; height: 815px;
  margin: 20px auto;
  text-transform:capitalize;
  border: 5px solid #eeb0b0;
  position: relative;
}
header { /*높이130px*/
  font-size: 38px ;
  font-family:Comic Sans MS, Helvetica, sans-serif;
  background-color: #7d1e6a ;
  color:#fff;
  padding:30px 0px 30px 130px;
  line-height: 36px;
  background-image: url(./images/youtube.png);
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 25px 50%; 
}
header h2 {
  font-size: 36px;
}
.menu {
  background-color: #ffcd38;
  margin: 0;
  height: 40px; line-height: 40px;
  padding-left: 0;
  position: relative;
  }
.menu li a {
    text-decoration: none;
    color:#7d1e6a;
    float: left;
    font-weight:bold;
    padding: 0 20px;
    font-size: 18px;
}
.menu li a:hover {
      background-color: #ff6c38;
  }
main {
  height: 63 0px; 
  background-color:#f1eee9;
}  
main figure  {
  text-align: right;
  padding:5px 5px;
}
main .img {
  object-fit: cover;
  width: 290px; height: 190px;
}
main figure:first-of-type {
  border: 2px solid red;
  background-color: #fff;
  width: 300px; height: 230px;
  margin: 20px;  
  float: left;
  }
.box1 {
  float: left;
  width: 640px;
  margin-right: 20px;
}
.box1 h2, .box3 h2 {
  padding: 20px 20px 10px 10px;
}
.box1 h3, .box3 h3 {
  padding-bottom: 10px;
}
.box1 h2, .box3 h2 {
  font-size: 24px;
  font-weight: bold;
}
.box1 h3, .box3 h3 {
  font-size: 20px;
  font-weight: bold;
  color:red;
}
.box2 {
  width: 280px; height: 600px;
  float: left;
  background-color:#fff;
  margin-left: 0px;
  border-left: 2px solid red;
}
.box2 h2 {
  font-size: 26px ;
  font-weight: bold;
  color:red;
  padding: 30px 0 20px 20px;
}
.box2 h2:nth-of-type(2) {
  padding-bottom: 20px;
}
.box2 li {
  font-size: 22px;
  border-bottom: 2px solid red;
  padding: 15px 0 15px 20px;
}
.box2 .none {
  border:none;
  font-size: 20px;
}
.box2 li a {
  text-decoration: none;
  color: black;
}
.box2 li a:hover {
  color:red;
}
.box3 {
  position: absolute;
  top: 450px; left: 0;
  width: 640px;
}
.box4 {
  clear: both;
}
.box4 h2 {
  color:#fff;
  background-color: #7d1e6a;
  height: 35px; line-height: 35px; 
  width: 940px;
  padding-left: 20px;
}